services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: api
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
      - tmp-build:/app/tmp
    depends_on:
      - mysql
    environment:
      SERVER_MODE: development
      SERVER_ADDR: ":8080"
      SERVER_READ_TIMEOUT: "15"
      SERVER_WRITE_TIMEOUT: "15"
      SERVER_MAX_HEADER_BYTES: "1048576"
      SERVER_CTX_TIMEOUT: "30"
      LOGGER_LEVEL: info
      LOGGER_ENCODING: json
      MYSQL_HOST: mysql
      MYSQL_PORT: "3306"
      MYSQL_USER: devuser
      MYSQL_DBNAME: servicetemplate
      MYSQL_PASSWORD: devpassword
      MYSQL_MAX_OPEN_CONNS: "60"
      MYSQL_CONN_MAX_LIFETIME: "120"
      MYSQL_MAX_IDLE_CONNS: "30"
      MYSQL_CONN_MAX_IDLE_TIME: "20"

  mysql:
    image: mysql:9
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: servicetemplate
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpassword
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  go-mod-cache:
  tmp-build:
  mysql-data:
